{% if template contains "index" %} {% else %}
                        {% comment %} fix cls {% endcomment %} 
                                <style>.async-hide { opacity: 0 !important} </style>
                                <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
                                h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
                                (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
                                })(window,document.documentElement,'async-hide','dataLayer',400,
                                {'GTM-XXXXXX':true});</script>

{{ "//cdn.shopify.com/s/files/1/0574/0809/4268/t/1/assets/bootstrap-38.0.61.js" | script_tag}}
{% endif %}